<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SpringMVC020WebFlow</display-name>
  <welcome-file-list>
    <welcome-file>getHomePage.do</welcome-file>
  </welcome-file-list>
  
  <!-- declares constant values in web.xml, accessible to all -->
  <!-- context loader listener will look for the file name provided here -->
  <context-param><!-- global variables -->
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/EmpManagement.xml</param-value><!-- filename subject to change here -->
	</context-param>
  <!-- Creates application context from file mentioned in context config location -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- order of creation is
  listener
  filter
  servlet
   -->
  
 <!-- Creates web application context as a child of application context 
 this is called as multicontext environment -->
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param><!-- local variables config parameter local to servlet-->
    	<param-name>contextConfigLocation</param-name><!-- config parameter of this name will be searched -->
		<param-value>/WEB-INF/config/EmpSpringMVC.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>